driver:
  kind: modern_ebpf

falco:
  grpc:
    enabled: true
  grpc_output:
    enabled: true

collectors:
  enabled: true

customRules:
  kubernetes-runtime-rules.yaml: |-
${indent(4, falco_runtime_rules)}

#  kubernetes-runtime-noise-tuning.yaml: |-
#${indent(4, falco_noise_tuning)}